*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: #e5e1e1;
    text-align: center;
}

.container{
    width: 80%;
    margin: auto;
}

button{
    padding: 10px 20px;
    margin: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,th,td{
    border: 1px solid black;
}

th,td{
    padding: 10px;
}